@keyframes bounceDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes thicker {
  0% {
    font-weight: 100;
  }

  100% {
    font-weight: 900;
  }
}

.upAndAway {

  img {
    width: 2vw;
    padding-bottom: 2em;

    @media (max-width: 770px) {
      width: 5vw;
    }
  }
}

[data-aos="fade-out"] {
  opacity: 1;
  transition-property: opacity;

  &.aos-animate {
    opacity: 0;
  }
}

@keyframes byeBye {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    position: relative;
    left: -100vw;
  }
}