footer {
  background: rgb(147, 211, 205);
  background: linear-gradient(0deg, rgba(147, 211, 205, 1) 0%, rgba(250, 250, 250, 0) 100%);
  padding: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: hotpink;
  bottom: 0;

  @media (max-width: 700px) {
    text-align: center;
  }

  h2 {
    margin: 1em;
    font-size: 6vh;

    @media (max-width: 350px) {
      font-size: 4vh;
    }

  }

  a {
    text-decoration: none;
    color: hotpink;
    font-size: 3vh;
  }

  div {
    display: flex;
    justify-content: center;
  }

  h3 {
    padding-top: 2em;
  }

  p {
    padding-bottom: 2em;
  }

  .linkedin,
  .github,
  .mail,
  .phone {
    @media (max-width: 700px) {
      img {
        max-width: 50px;
        margin: unset;
      }
    }
  }
}