footer {
  background: rgb(32, 55, 32);
  background: linear-gradient(0deg, rgb(23, 39, 23) 0%, rgba(13, 22, 13, 1) 100%);
  padding: 1em 0 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  bottom: 0;

  @media (max-width: 700px) {
    text-align: center;
  }

  h2 {
    margin: 1em;
    font-size: 6vh;
    // text-shadow: 1.5px 1.5px #93d3cd;

    @media (max-width: 450px) {
      font-size: 4vh;
    }

  }

  a {
    text-decoration: none;
    color: black;
    font-size: 3vh;
  }

  div {
    display: flex;
    justify-content: center;
  }

  h3 {
    padding-top: 2em;
  }

  p {
    padding-bottom: 2em;
  }

  .linkedin,
  .github,
  .mail,
  .phone {
    @media (max-width: 700px) {
      img {
        max-width: 50px;
        margin: unset;
      }
    }
  }
}