header {
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(13, 123, 108, 0.571) 0%, rgba(71, 179, 168, 0.577) 50%, rgb(255, 255, 255) 100%), (url(/img/pankaj-patel-SXihyA4oEJs-unsplash.jpg));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-areas:
    'menubar'
    'headerPicture';
}

.menubar {
  background: rgb(147, 211, 205);
  background: linear-gradient(0deg, rgba(147, 211, 205, 0) 0%, rgba(255, 255, 255, 1) 100%);
  padding: 1.5em 0;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: menubar;
  z-index: 20;

  a {
    padding: 0 1em;
    text-decoration: none;
    font-weight: 900;
    cursor: pointer;
    color: #ff69b4;
    text-shadow: 1px 1px #93d3cd;
  }

  #logo {
    max-height: 60px;
    object-fit: contain;

  }

  a:hover {
    color: #05F2AF;
    transition: all ease-in 1;
    transform: scale(1.1);
  }

  &__icon {
    margin-right: auto;
    margin-left: 1em;
  }

  &__contact {
    margin-right: 1em;
  }
}

.headerPicture {
  grid-area: headerPicture;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  h1 {
    color: #93d3cd;
    text-shadow: 1.5px 1.5px #93d3cd;
    font-size: 3.5em;
    text-align: center;

    a {
      text-decoration-line: none;
      // color: #93d3cd;
      color: hotpink;
      cursor: unset;
    }
  }

}