.portfolio {
  text-align: center;
  background: #679392;
  min-height: 1000px;
  color: white;

  h2 {
    padding-top: 2em;
    font-size: 8vh;
    // text-shadow: 1.5px 1.5px #93d3cd;
  }

  &__masterpieces {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    max-width: 1200px;
    width: 100%;
    margin: 2em auto;

    @media (max-width: 770px) {
      grid-template-columns: unset;
      grid-auto-rows: auto;
      justify-content: center;
    }

    .portfolio__first,
    .portfolio__second,
    .portfolio__third,
    .portfolio__four {
      position: relative;

      @media (max-width: 450px) {
        width: 300px;
        height: 150px;
        overflow: hidden;
      }

      video {
        width: 600px;

        @media (max-width: 450px) {
          width: 300px;
        }
      }
    }

    .titleMasterpieces {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      z-index: 13;
      background: rgb(37, 51, 37);
      background: linear-gradient(0deg, rgba(147, 181, 198, 0) 0%, #679392) 100%;
      color: white;

      &:hover {
        background: unset;
      }

    }
  }


}