// font-family: 'Heebo', sans-serif;
// font-family: 'Rock Salt', cursive;

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Avenir', serif;
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

button,
a {
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

.imgWrapper {
  max-width: 100px;
  width: 100%;
  margin: 0 1em;
}

// POPUP

.popUp {
  content: '';
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
  border: 1px solid whitesmoke;
  z-index: 30;
  top: 10em;
  left: 10em;
  background: rgb(147, 211, 205);
  background: linear-gradient(0deg, rgba(147, 211, 205, 1) 0%, rgb(250, 250, 250) 100%);

  h1 {
    font-size: 3vh;
  }

  p {
    font-size: 16px;
  }

  form {
    display: grid;
    grid-auto-rows: min-content;
  }
}