// font-family: 'Heebo', sans-serif;
// font-family: 'Rock Salt', cursive;

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Avenir', serif;
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

button,
a {
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

.imgWrapper {
  max-width: 100px;
  width: 100%;
  margin: 0 1em;
}

// POPUP

.popUp {
  content: '';
  position: fixed;
  display: grid;
  grid-template: auto 0.5fr 1fr / 1fr;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 80vh;
  margin: auto;
  border: 1px solid whitesmoke;
  border-radius: 30px;
  z-index: 30;
  top: 6em;
  background: rgb(147, 211, 205);
  background: linear-gradient(90deg, rgba(147, 211, 204, 0.952) 0%, rgba(250, 250, 250, 0.952) 100%);

  .closeBtn {
    cursor: pointer;

    img {
      height: 4em;
      object-fit: contain;
      align-self: flex-end;
      padding-top: 1em;
    }
  }


  div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    align-items: center;

    h1 {
      font-size: 4vh;
      font-weight: 900;
    }

    p {
      font-size: 16px;
      font-weight: 700;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: auto;

    input {
      max-width: 450px;
      width: 100%;
      border: none;
      margin: 1em 0;
      height: 3em;
      padding: 1em;
      font-family: inherit;
      color: hotpink;
      border-radius: 15px;
      font-weight: 900;
    }

    input:focus {
      border: 2px solid hotpink;
    }

    input:nth-child(4) {
      max-width: 250px;
      width: 100%;
      border: none;
      color: #fff;
      background: hotpink;
      margin: 2em auto 1em auto;
      font-size: 2vh;
      cursor: pointer;
      padding: 0;
      border-radius: 20px;

      &:hover {
        transition: all 250ms;
        transform: scale(1.05);
        color: hotpink;
        background: #fff;
        border: 2px solid hotpink;
      }
    }

    .thankYou {
      display: none;
      color: hotpink;
      font-style: italic;
      font-weight: 900;
    }
  }
}