// font-family: 'Heebo', sans-serif;
// font-family: 'Rock Salt', cursive;

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Avenir', serif;
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

button,
a {
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

.imgWrapper {
  max-width: 100px;
  width: 100%;
  margin: 0 1em;
}